/* stylelint-disable at-rule-no-vendor-prefix */
/* stylelint-disable property-no-vendor-prefix */
:root {
  --primary-color: #34495e;
  --secondary-color: #2980b9;
  --white: #f2f2f2;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100%;
  display: block;
  background-color: var(--primary-color);
}

h1, h2, p, span {
  color: var(--white);
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

main {
  text-align: center;
}

div.display {
  margin-top: 100px;
}

div.wrong {
  width: 200px;
  display: inline-block;
  vertical-align: top;
}

div.wrong h2,
div.wrong p {
  margin: 0;
  text-align: end;
}

svg {
  display: inline-block;
  color: var(--white);
}

svg > line {
  border-radius: 2px;
}

div.word-container {
  margin-top: 30px;
}

div.word-container > .letter {
  width: 30px;
  margin: 0 3px;
  display: inline-block;
  font-size: 2em;
  color: transparent;
  border-bottom: 3px solid #2980b9;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

div.word-container > .show {
  color: var(--white);
}

div.modal-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
}

div.modal-container > div.modal-background {
  min-width: 100vw;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0 0 0 / 30%);
  z-index: 50;
}

div.modal-container > div.modal {
  padding: 20px;
  border-radius: 5px;
  background-color: var(--secondary-color);
  text-align: center;
  z-index: 100;
}

div.modal > p {
  margin: 0;
}

div.modal > button {
  margin-top: 20px;
  padding: 12px 20px;
  border: 0;
  color: var(--secondary-color);
  background-color: var(--white);
  font-size: 1em;
  cursor: pointer;
}

div.toast {
  visibility: hidden;
  width: 300px;
  height: 40px;
  padding: 10px 20px;
  border-radius: 5px 5px 0 0;
  background-color: rgba(0 0 0 / 30%);
  position: fixed;
  left: calc(50% - 150px);
  bottom: 0;
}

div.toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

div.toast > p {
  margin: 0;
}

.hidden {
  visibility: hidden;
}

@-webkit-keyframes fadein {
  from {bottom: -40px; opacity: 0;}
  to {bottom: 0; opacity: 1;}
}

@keyframes fadein {
  from {bottom: -40px; opacity: 0;}
  to {bottom: 0; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 0; opacity: 1;}
  to {bottom: -40px; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 0; opacity: 1;}
  to {bottom: -40px; opacity: 0;}
}
