:root {
  --primary-color: #2c3e50;
  --secondary-color: #34495e;
  --ternary-color: rgba(0 0 0 / 30%);
  --white: #fff;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display: block;
  background-color: var(--primary-color);
}

h1, h2, h3, h4, p, span {
  color: var(--white);
  text-align: center;
}

nav {
  width: 100vw;
  height: 70px;
  position: fixed;
  top: 0;
  background-color: var(--ternary-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease;
}

nav > span {
  font-size: 18px;
}

nav > form > select {
  width: 200px;
  margin-left: 5px;
  padding: 5px 0;
  background-color: #a7c5e3;
}

nav.hide {
  transform: translateY(-100%);
}

main {
  width: 500px;
  padding: 20px;
  background-color: var(--secondary-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  position: relative;
}

main > div {
  width: 100%;
}

button.setting {
  padding: 5px 14px;
  background-color: var(--white);
  position: absolute;
  bottom: 30px;
  left: 30px;
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game {
  position: relative;
}

.game > h2 {
  width: 100%;
  padding: 10px 20px;
  margin: 0 0 40px;
  border-radius: 4px;
  background-color: var(--ternary-color);
}

.game > span {
  position: absolute;
  top: 60px;
  font-size: 20px;
}

.game > .time {
  left: 0;
  text-align: left;
}

.game > .score {
  right: 0;
  text-align: right;
}

.game > p,
.game > h1 {
  margin: 0;
}

.game > input {
  width: 300px;
  margin-top: 10px;
  padding: 12px 20px;
  border: 0;
  border-radius: 4px;
  font-size: 14px;
}

.end {
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.end > h1 {
  margin: 0;
}

.end > button {
  padding: 5px 12px;
  cursor: pointer;
}
